<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome to mysite{% endblock %}</title>
        {% load staticfiles %}
		<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'siteshortener/css/custom.css' %}" />
        <script type="text/javascript" src="{% static 'siteshortener/js/script.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="wrap">
            <header>
                <h1><a href="{% url 'siteshortener:home' %}">ReduceMe</a><p><small>Reduce tu URL</small></h1>
            </header>

            <div id="content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>
